/* body {
    background-color: #FFBA5C;
} */
.login{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit_custom{
    background-color: #FF9052;
    width: 100%;
    color: white;
}